body{
    color: #ffffff;}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container {
     /* Set the background color to an elegant gray */
    padding: auto; /* Add some padding to the container */
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     }
     .header{
      text-align: center;
      padding-top: 20px;
      color: #7f7e7e;
      
    }
    .featured{
      color: #7f7e7e;
      
    }

     .flex-item {
      flex: 0 0 auto;
 /* Adjust the margin between the flex items as needed */
      margin-top: 40px; /* Adjust the margin between the flex items as needed */
      max-width: 200px;
      
    }

.cc{
  margin-top: 20px;
}

.detor{
  max-width: 400px;
}
.green{
  color: rgb(8, 154, 71);
}

.ptsd{
  border-right: #397b39 solid 10px;

}
.ptsx{
  background: #397b39 solid 10px;

}


.nav-pills {
  --bs-nav-pills-border-radius: 0.375rem;
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #397b39;
}
.nav-link{
  color: black;
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover:not(:hover) {
  transform: scale(1);
}

/* MyCarousel.css */

/* Customize transition color */
.carousel-item {
  background-color: #f0f0f0; /* Set the desired background color for the carousel item */
}

/* Customize navigation button colors */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #5e5e5e;
  border-radius: 20px;
  width: auto;
  padding: 0;
  margin: 0;
  transform: translateX(10);
  
  /* Set the desired background color for the navigation buttons */
}

.custom-prev-icon,
.custom-next-icon {
  color: #fff; /* Set the desired color for the navigation button icons */
}
